<h1> Listings </h1>

<ul id='listings'>
  <% @listings.reverse.each do |listing| %>
  <li><b>Name: <%= listing.name %></b></li>
  Description: <%= listing.description %></br>
  Price per night: <%= listing.price %></br></br>
  <form action="/listings/1" method="get">
    <input type="submit" value="Request to book <%= listing.name %>">
  </form>
  <% end %>
</ul>

<% if flash[:notice] %>
  <div id='notice'><%= flash[:notice] %></div>
<% end %>
