  <h2> Listings </h2>
  <a href='/listings/new'>+ add new</a>
    <ul>
      <% @listings.reverse.each do |listing| %>
        <li><h3>Name: <%= listing.name %></h3>
          <p>Description: <%= listing.description %></p>
          <p>Price per night: £<%= listing.price %></p>
          <form action="/listings/<%= listing.id %>" method="post">
          <input type="hidden" name="_method" value="PUT">
          <input id='button' type="submit" value="Request to book <%= listing.name %>">
          </form>
          <% end %></li>
    </ul>
