  <h2> Listings </h2>
  <a href='/listings/new'>+ add new</a>
    <ul>
      <% @listings.reverse.each do |listing| %>
        <li><h3>Name: <%= listing.name %></h3>
          <p>Description: <%= listing.description %></p>
          <p>Price per night: £<%= listing.price %></p>
          <a href="/listings/<%= listing.id %>">Details of <%= listing.name %></a>
          <% end %></li>
    </ul>
